<% content_for :title do %>HADashboard<% end %>

<div class="gridster"> <!-- Main Panel - PAGE 1 -->
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="clock" data-view="Clock" data-color="#FF0000"></div>
    </li>

    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="iansmcf_myphone" data-view="Hadevicetracker" data-title="Ian" data-color="#FF0000"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="2" data-sizey="2">
        <div data-id="News" data-view="News" data-title="Tom's hardware" data-interval="10" data-color="#FF0000">
      </li>

  <li data-row="3" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="wemo_bedroom_switch" data-view="Haswitch" data-title="Bedroom air filter" data-icon="power-off" data-color="#FF0000">
    </li>

	<li data-row="4" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="warehouse_lights" data-view="Hagroup" data-title="Warehouse lights" data-icon="lightbulb-o" data-color="#FF0000"></div>
    </li>

	<li data-row="4" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="hue_color_lamp_4" data-view="Hadimmer" data-title="Living room lamp" data-icon="lightbulb-o" data-color="#FF0000"></div>
    </li>

  <li data-row="4" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="hue_color_lamp_3" data-view="Hadimmer" data-title="Bedroom lamp" data-icon="lightbulb-o" data-color="#FF0000"></div>
    </li>

    <li data-row="5" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="reload" data-view="Reload"></div>
    </li>

  </ul>
</div>
